<style>
    .small-page-width {
        max-width: 1140px;
        margin: 0 auto;
    }
    .commercial-baileys-page {
      padding: 60px 15px;
    }
    .commercial-baileys-page__hero {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .commercial-baileys-page__hero__map iframe {
      max-width: 100%;
    }

    .commercial-baileys-page__hero h1 {
      margin-top: 0;
    }

    .commercial-baileys-page__hero a {
      color: var(--primary-button-colour);
      text-decoration: none
    }

    .commercial-baileys-page__hero a:hover {
      text-decoration: underline;
    }

    .commercial-baileys-page__form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 60px;
    }

    .commercial-baileys-page__form form {
      widtH: 100%;
    }

    .commercial-baileys-page__form .fields {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

  .commercial-baileys-page__form .fields p {
      width: 100%;
      font-size: 18px;
      margin-bottom: 0;
    }

    .commercial-baileys-page__form .fields p span {
      font-size: 12px;
    }

    .commercial-baileys-page__form .fields div {
      width: 100%;
    }
    .commercial-baileys-page__form .fields--half div {
      width: calc(50% - 5px);
    }
    .commercial-baileys-page__form .fields div label {
      width: 100%;
      display: block;
      font-size: 12px;
    }
    .commercial-baileys-page__form .fields div input, .contact-page__form .fields div textarea {
      width: 100%;
      font-size: 18px;
      padding: 10px;
    }

</style>

<div class="commercial-baileys-page page-width">
  <div class="commercial-baileys-page__hero">

    <div class="commercial-baileys-page__image">
      <img src="{{ section.settings.image | image_url }}" alt="">
    </div>

    <div class="commercial-baileys-page__hero__content">
      <h1>{{ section.settings.title }}</h1>
      {{ section.settings.content }}
    </div>
  </div>

  <div class="commercial-baileys__form">
    <div class="commercial-baileys-page__form__content">
      <h2>{{ section.settings.contact_us_title }}</h2>
      <p>{{ section.settings.contact_us_content }}</p>
    </div>
    {% form 'contact' %}
      {{ form.errors | default_errors }}

      <div class="fields fields--half">
          <p>Name <span>(required)</span></p>
          <div>
            <label>First Name</label>
            <input type="text" name="contact[firstname]" required>
          </div>
          <div>
            <label>Last Name</label>
            <input type="text" name="contact[lastname]" required>
          </div>
      </div>

      <div class="fields">
          <p>Company <span>(required)</span></p>
          <div>
            <input type="text" name="contact[company]" required>
          </div>
      </div>

      <div class="fields">
        <p>Telephone <span>(required)</span></p>
        <div>
          <input type="text" name="contact[phone]" required>
        </div>
      </div>

      <div class="fields">
        <p>Email <span>(required)</span></p>
        <div>
          <input type="email" name="contact[email]" required>
        </div>
      </div>

      <button type="submit" class="button button--primary">Send message</button>

      {% if form.posted_successfully? %}
        <p class="success-message">Thanks — we'll get back to you soon!</p>
      {% endif %}
    {% endform %}
    </div>
</div>

{% schema %}
{
  "name": "Commercial Baileys Page",
  "settings": [
    {
      "type": "header",
      "content": "Hero Section"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "Our Showroom & Office"
    },
    {
      "type": "richtext",
      "label": "Content",
      "id": "content",
    },
    {
        "type": "image_picker",
        "label": "Image",
        "id": "image",
    },
    {
      "type": "header",
      "content": "Opening Hours Section"
    },
    {
      "type": "paragraph",
      "content": "To change the opneing hours, see theme settings."
    },
    {
      "type": "text",
      "id": "opening_hours_title",
      "label": "Title",
      "default": "Store Opening Hours"
    },
    {
      "type": "text",
      "id": "opening_hours_content",
      "label": "Content",
      "default": "You can arrange for a free design consultation in the privacy of your own home or you can view our extensive range of blinds and other products at our shop. We look forward to hearing from you."
    },
    {
      "type": "header",
      "content": "Contact Us Section"
    },
    {
      "type": "paragraph",
      "content": "This form sends to sales@, which can be changed in the store admin."
    },
    {
      "type": "text",
      "id": "contact_us_title",
      "label": "Contact Us Title",
      "default": "Contact Us"
    },
    {
      "type": "text",
      "id": "contact_us_content",
      "label": "Contact Us Content",
      "default": "Complete this quick enquiry form and we will get back to you soon."
    },
  ],
  "presets": [
    {
      "name": "Commercial Baileys Page"
    }
  ]
}
{% endschema %}
